<section class=" lg:flex py-[40px] px-[16px] flex-col justify-center items-center gap-[8px] self-stretch rounded-b-[40px] bg-[#5739FB]">
    <div class="flex flex-col justify-center items-center gap-[80px] self-stretch">
        <div class="flex flex-col justify-center items-center gap-[32px] self-stretch">
            <div class="flex flex-col justify-center items-center gap-[4px] self-stretch">
                <h4 class="self-stretch text-white text-center font-primary text-[32px] not-italic font-bold leading-[normal]">Qué sucede tras bastidores?</h4>
                <h4 class="self-stretch text-white text-center font-primary text-[32px] not-italic font-bold leading-[normal]">!Descubrelo por ti mismo!</h4>
            </div>
            <div class="flex flex-col items-center gap-[12px] self-stretch">
                <h5 class="self-stretch text-white text-center font-primary text-[16px] not-italic font-bold leading-[normal]">Esto es un tablero. Puedes hacer click en nuestros comentarios y leerlos, si, eso es todo.</h5>
                <h5 class="text-white text-center font-primary text-[16px] not-italic font-bold leading-[normal]">... o explora mas a fondo</h5>
            </div>
        </div>
        <div class="flex p-[4px] items-start gap-[8px] rounded-full border border-white bg-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask0_1166_402" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <rect width="24" height="24" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_1166_402)">
                  <path d="M11 4V16.175L5.4 10.575L4 12L12 20L20 12L18.6 10.575L13 16.175V4H11Z" fill="white"/>
                </g>
              </svg>
        </div>
    </div>
</section>