<div class="bg-purple-500 clip5">
    <div class="bg-pink-500 clip4">
        <div class="bg-yellow-500 clip3">
            <div class="bg-blue-500 clip2">
                <div class="bg-white clip1 flex justify-center">
                    <section
                        class="flex py-[40px] px-[16px] flex-col justify-center items-center gap-[8px] w-full bg-[#5739FB] lg:h-[985px] lg:p-[80px] banner-gsap"
                    >
                        <div
                            class="flex flex-col justify-center items-center gap-[80px] self-stretch lg:gap-[200px]"
                        >
                            <div
                                class="flex flex-col justify-center items-center gap-[32px] self-stretch lg:gap-[64px]"
                            >
                                <div
                                    class="flex flex-col justify-center items-center gap-[4px] self-stretch lg:self-auto"
                                >
                                    <h4
                                        class="self-stretch text-white text-center font-primary text-[32px] not-italic font-bold leading-[normal] lg:self-auto lg:text-[100px]"
                                    >
                                        Qué sucede tras bastidores?
                                    </h4>
                                    <h4
                                        class="self-stretch text-white text-center font-primary text-[32px] not-italic font-bold leading-[normal] lg:self-auto lg:text-[100px]"
                                    >
                                        !Descubrelo por ti mismo!
                                    </h4>
                                </div>
                                <div class="flex flex-col items-center gap-[12px] self-stretch">
                                    <h5
                                        class="self-stretch text-white text-center font-primary text-[16px] not-italic font-bold leading-[normal] lg:self-auto lg:text-[40px]"
                                    >
                                        Esto es un tablero. Puedes hacer click en nuestros
                                        comentarios y leerlos, si, eso es todo.
                                    </h5>
                                    <h5
                                        class="text-white text-center font-primary text-[16px] not-italic font-bold leading-[normal] lg:self-auto lg:text-[40px]"
                                    >
                                        ... o explora mas a fondo
                                    </h5>
                                </div>
                            </div>
                            <div
                                class="flex p-[4px] items-start gap-[8px] rounded-full border border-white bg-transparent"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <mask
                                        id="mask0_1166_402"
                                        style="mask-type:alpha"
                                        maskUnits="userSpaceOnUse"
                                        x="0"
                                        y="0"
                                        width="24"
                                        height="24"
                                    >
                                        <rect width="24" height="24" fill="#D9D9D9"></rect>
                                    </mask>
                                    <g mask="url(#mask0_1166_402)">
                                        <path
                                            d="M11 4V16.175L5.4 10.575L4 12L12 20L20 12L18.6 10.575L13 16.175V4H11Z"
                                            fill="white"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .banner-gsap {
        clip-path: circle(0% at 50% 50%);
    }
    .clip1 {
        clip-path: circle(0.5% at 50% 50%);
    }

    .clip2 {
        clip-path: circle(1% at 50% 50%);
    }

    .clip3 {
        clip-path: circle(1.5% at 50% 50%);
    }

    .clip4 {
        clip-path: circle(2% at 50% 50%);
    }

    .clip5 {
        clip-path: circle(2.5% at 50% 50%);
    }
</style>
<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline({
        scrollTrigger: {
            trigger: ".banner-gsap",
            start: "center-=100 center",
            end: "center+=100 center",
            scrub: 0.5,
            markers: true,
        },
    });
    tl.to(".banner-gsap", {
        clipPath: "circle(70.7% at 50% 50%)",
        ease: "power2.inOut",
    })
    .to(".clip1", {clipPath: "circle(100.7% at 50% 50%)"}, "-=0.5")
    .to(".clip2", {clipPath: "circle(100.7% at 50% 50%)"}, "-=0.6")
    .to(".clip3", {clipPath: "circle(100.7% at 50% 50%)"}, "-=0.7")
    .to(".clip4", {clipPath: "circle(100.7% at 50% 50%)"}, "-=0.8")
    .to(".clip5", {clipPath: "circle(100.7% at 50% 50%)"}, "-=0.9")

    tl.to(".banner-gsap", {
        width: "calc(100% - 20px)",
        borderRadius: "40px",
    });
</script>
