<div class=" lg:flex h-[141px] flex-col justify-center items-center gap-[8px] self-stretch border-y border-[#c7c7c7] bg-white overflow-hidden">
    <div class="flex items-center gap-[40px] flex-1 self-stretch">
        <div class="flex py-[40px] items-center gap-[8px] flex-1 self-stretch">
            <h4 class="overflow-hidden text-[#1a1a1a] text-ellipsis font-primary text-[80px] not-italic font-bold leading-[95px] whitespace-nowrap">360 Virtual Solutions.</h4>
        </div>
    </div>
</div>