---
import CardSampleProject from "./CardSampleProject.astro";
---
<div class="overflow-x-hidden relative hidden md:block">
    <div class="containerScroll scrollx flex w-screen">
        <section class="w-screen h-[390px] lg:h-screen">
            <CardSampleProject url="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fservice3.webp?alt=media&token=a229d11a-e567-43cb-a82a-fd4cda28392d" />
            <!-- <div class="h-screen bg-red-500 w-screen">sd</div> -->
        </section>
        <section class="w-screen h-[390px] lg:h-screen">
            <CardSampleProject  url="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fservice1.webp?alt=media&token=c09c7392-f5d7-42a6-a412-ac375bfc4d46"/>
            <!-- <div class="h-screen bg-blue-500 w-screen">sd</div> -->
        </section>
        <section class="w-screen h-[390px] lg:h-screen">
            <CardSampleProject url="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fservice2.webp?alt=media&token=9b5bbfa4-53ae-4ff7-8c6e-b64fec542d90" />
            <!-- <div class="h-screen bg-orange-500 w-screen">sd</div> -->
        </section>
    </div>
</div>
<div class="block md:hidden">
    <CardSampleProject url="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fservice3.webp?alt=media&token=a229d11a-e567-43cb-a82a-fd4cda28392d" />
    <CardSampleProject url="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fservice1.webp?alt=media&token=c09c7392-f5d7-42a6-a412-ac375bfc4d46" />
    <CardSampleProject url="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fservice2.webp?alt=media&token=9b5bbfa4-53ae-4ff7-8c6e-b64fec542d90" />
</div>
<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);

    const sections = gsap.utils.toArray(".containerScroll section");
    let scrollTween = gsap.to(sections, {
        xPercent: -100 * (sections.length - 1),
        ease: "none",
        scrollTrigger: {
            trigger: ".containerScroll",
            pin: true,
            scrub: 1,
            end: "+=3000",
            markers: false
        }
    })
</script>