<section class="lg:flex py-[24px] px-[16px] flex-col items-start gap-[8px] bg-white self-stretch">
    <div class="lg:flex flex-col items-start gap-[60px] self-stretch">
        <div class="lg: flex flex-col items-start gap-[70px] self-stretch">
            <h2 class="text-black font-primary text-[40px] not-italic font-bold leading-[normal]">Experiencia</h2>
            <div class="flex justify-between items-start self-stretch gap-x-[10px] py-[50px]">
                <div class="flex flex-col items-start gap-[24px] flex-1">
                    <h3 class="text-black opacity-50 font-primary text-[18px] not-italic font-normal leading-[normal]">Especialización</h3>
                    <div class="flex flex-col items-start gap-[4px] self-stretch">
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Visualización de Marca</h4>
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Sitios Web de Marketing</h4>
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Sitios Web Corporativos</h4>
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Productos Digitales</h4>
                    </div>
                </div>
                <div class="lg:flex flex-col items-start gap-[24px] flex-1">
                    <h3 class="text-black opacity-50 font-primary text-[18px] not-italic font-normal leading-[normal]">Industrias</h3>
                    <div class="lg:flex flex-col items-start gap-[4px] self-stretch">
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Bienes raíces</h4>
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Tecnologia Financiera (Fintech)</h4>
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Educación Tecnológica (Edtech)</h4>
                        <h4 class="self-stretch text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Software como Servicio (SaaS)</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:flex py-[31px] px-[34px] flex-col justify-center items-center gap-[8px] self-stretch rounded-[40px] bg-[#5739FB]">
            <div class="lg:flex flex-col justify-center items-start gap-[28px] self-stretch">
                <div class="lg:flex flex-col items-start gap-[44px] self-stretch">
                    <span class="text-white font-primary text-[16px] not-italic font-normal leading-[normal]">Experiencia</span>
                    <p class="self-stretch text-white font-primary text-[32px] not-italic font-normal leading-[normal]">Nuestro equipo cuenta con una gran cantidad de experiencia, por lo que puedes estar seguro de que presentaremos proyectos impresionantes y que nuestra comunicación sea impecable.</p>
                </div>
            </div>
        </div>
    </div>
</section>