<section class="w-full gap-[50px] p-4 flex flex-col justify-between   lg:flex-row  ">
  
  <div class="flex flex-col gap-[32px] ">
    <p class="font-primary text-5xl font-medium">Nos encantaría saber de usted</p>
    <p class="font-primary">No dude en comunicarse con nosotros si quieres colaborar con nosotros o simplemente charlar.</p>
    <div class="flex flex-row gap-x-[12px] hover:bg-blue-700">
      <p class="font-primary">Conviértete en cliente</p>
      <div class="w-6.5 h-6.5 rounded-full border border-black bg-transparent">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="arrow_downward">
        <mask id="mask0_1166_387" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect id="Bounding box" y="24" width="24" height="24" transform="rotate(-90 0 24)" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_1166_387)">
        <path id="arrow_downward_2" d="M4 13L16.175 13L10.575 18.6L12 20L20 12L12 4L10.575 5.4L16.175 11L4 11L4 13Z" fill="black"/>
        </g>
        </g>
        </svg>
      </div> 
    </div>
    <p class="font-primary">No te gustan las formas? Escribanos por correo electrónico.</p>
    <div class="flex flex-row gap-x-[12px]">
      <p class="font-primary">360virtualsol@gmail.com</p>

      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="arrow_outward">
        <mask id="mask0_1166_484" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect id="Bounding box" width="24" height="24" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_1166_484)">
        <path id="arrow_outward_2" d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="#1C1B1F"/>
        </g>
        </g>
        </svg>
       
    </div>
  </div>

  <div class=" flex flex-col gap-y-[10px]">
     <p class="font-primary text-2xl font-normal">Nuestra dirección</p>
     <p class="font-primary">Tacna 265 - Huancayo</p>
  </div>
  <div class=" flex flex-col gap-y-[10px]">
    <p class="font-primary text-2xl font-normal">Síganos</p>
    <div class="flex flex-row gap-x-[12px]">
      <p class="font-primary">facebook</p>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="arrow_outward">
        <mask id="mask0_1166_484" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect id="Bounding box" width="24" height="24" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_1166_484)">
        <path id="arrow_outward_2" d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="#1C1B1F"/>
        </g>
        </g>
        </svg>
        
    </div>
    <div  class="flex flex-row gap-x-[12px]">
      <p class="font-primary">tiktok</p>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="arrow_outward">
        <mask id="mask0_1166_484" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect id="Bounding box" width="24" height="24" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_1166_484)">
        <path id="arrow_outward_2" d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="#1C1B1F"/>
        </g>
        </g>
        </svg>
        
    </div>

  </div>
</section>
  