<section class="flex py-[80px] px-[16px] flex-col justify-center items-center gap-[8px] self-stretch galaxy">
    <div class="flex flex-col justify-center items-center gap-[8px] ">
        <div class="flex items-center gap-[8px] self-stretch">
            <span class="text-white text-justify font-primary text-[18px] not-italic font-normal leading-[normal]">Comenzando como entusiastas</span>
            <div class="entusiasta w-[91.2px] h-[34px]"></div>
        </div>
        <span class="text-white text-justify font-primary text-[18px] not-italic font-normal leading-[normal] self-stretch">para otras personas. combinamos nuestras</span>
        <div class="flex items-center content-center gap-[8px] self-stretch flex-wrap">
            <span class="text-white text-justify font-primary text-[18px] not-italic font-normal leading-[normal]">habilidades</span>
            <div class="entusiasta w-[91.2px] h-[34px]"></div>
            <span class="text-white text-justify font-primary text-[18px] not-italic font-normal leading-[normal]">profesionales</span>
            <span class="text-white text-justify font-primary text-[18px] not-italic font-normal leading-[normal]"> y empatía para crear un entorno</span>
        </div>
        <div class="flex items-center gap-[8px] self-stretch">
            <span class="text-white text-justify font-primary text-[18px] not-italic font-normal leading-[normal]">colaborativo de trabajo único.</span>
            <div class="entusiasta w-[91.2px] h-[34px]"></div>
        </div>
    </div>
</section>
<style>
    .galaxy {
        background: url("https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fbg.webp?alt=media&token=04065e19-33a8-4aaf-9f66-c189f13542cc");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .entusiasta {
        background: url("https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fentusiastas.png?alt=media&token=d2855cd0-4d35-41dd-8242-8174a974bea2");
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>