<section class="h-[661px] flex justify-center self-stretch relative hand lg:h-[982px]">
    <div class="absolute top-[76px]">
        <h2 class="text-white font-primary text-[72px] not-italic font-bold leading-[normal] lg:text-[260px] lg:leading-[250px]">EL MUNDO</h2>
    </div>
    <div class="w-[390px] h-[608px] shrink-0 hand-image block lg:hidden"></div>
    <div class="hidden lg:block">
        <spline-viewer url="https://prod.spline.design/oEryQihXvCRojRI4/scene.splinecode"></spline-viewer>
    </div>
    <div class="absolute bottom-[41px] z-[2]">
        <div class="text-white font-primary text-[44px] not-italic font-normal leading-[normal] lg:text-[150px] lg:leading-[120px]">EN TUS MANOS</div>
    </div>
</section>
<style>
    .hand {
        background: linear-gradient(180deg, #5739FB 0%, #000 100%);
    }

    .hand-image {
        background: url("https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fhand.png?alt=media&token=1a78095c-4488-45c5-a4eb-e5d3bbf8dce6");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
</style>
<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);

    gsap.fromTo(".hand-image", {
        y: 100
    }, {
        scrollTrigger: {
            trigger: '.hand-image',
            scrub: 1
        },
        y: -70,
        duration: 3,
        ease: "power2.out"
    })

    window.onload = function() {
        var shadowRoot = document.querySelector('spline-viewer')!.shadowRoot;
        shadowRoot?.querySelector('#logo')!.remove();
    }
</script>