<section class="flex py-[24px] px-[16px] flex-col justify-center items-center gap-[8px] self-stretch bg-white">
    <h3 class="text-black font-primary text-[25px] not-italic font-bold leading-[normal]">¡JUGUEMOS UN RATO!</h3>
    <p class="text-black font-primary text-[15px] not-italic font-normal leading-[normal]">Sigue bajando...</p>
</section>