<section class="flex py-[24px] px-[16px] flex-col justify-center items-center gap-[8px] self-stretch bg-white lg:px-[40px]">
    <h3 class="text-black font-primary text-[32px] not-italic font-bold leading-[normal] lg:text-[100px]">¡Juguemos un rato!</h3>
    <p class="text-black font-primary text-[20px] not-italic font-normal leading-[normal] lg:text-[24px]">Sigue bajando...</p>
</section>