<section class="container-section bg-black h-[45vh] flex flex-col w-full ">
    <div class="body ">
        <div class="body-header flex flex-col gap-y-[20px]">
            <h2 class="title text-white font-primary font-bold  text-5xl px-[15px]">Nuestros Proyectos</h2>
            <div class="body-description flex flex-col gap-y-[15px]">
                <div class="flex gap-[15px] items-end">
                    <div class="numeric text-white text-4xl px-[15px]">42</div>
                    <div class="description text-white">proyectos completados</div>
                </div>
                <div class="flex gap-[15px] items-end">
                    <div class="numeric text-white text-4xl px-[15px]">45</div>
                    <div class="description text-white ">uwuw</div>
                </div>
            </div>
        </div>
        <div class="description-general text-white mt-[40px] px-[10px]">We've crushed it on lots of projects, and we've got the receipts to prove it in our big ol' portfolio of case studies.</div>
    </div>
</section>