<section class="flex py-[24px] px-[16px] items-start gap-[8px] self-stretch bg-black">
    <div class="flex flex-col justify-center items-start gap-[100px] flex-1">
        <div class="flex flex-col justify-center items-start gap-[40px] self-stretch">
            <h2 class="text-white font-primary text-[40px] font-medium not-italic leading-[normal]">Nuestros Proyectos</h2>
            <div class="flex flex-col items-start gap-[12px]">
                <div class="flex gap-[8px] items-end">
                    <div class="text-white font-primary text-[40px] not-italic font-bold leading-[34.5px]">42</div>
                    <div class="text-white font-primary text-[16px] not-italic font-normal leading-[normal]">proyectos completados</div>
                </div>
                <div class="flex gap-[8px] items-end">
                    <div class="text-white font-primary text-[40px] not-italic font-bold leading-[34.5px]">45</div>
                    <div class="text-white font-primary text-[16px] not-italic font-normal leading-[normal]">proyectos completados</div>
                </div>
            </div>
        </div>
        <div class="self-stretch text-white font-primary text-[20px] not-italic font-normal leading-[normal]">Nos especializamos en crear experiencias innovadoras para pequeñas y grandes empresas.</div>
    </div>
</section>