<section class="flex py-[24px] px-[16px] justify-center items-center gap-[8px] self-stretch">
    <div class="flex h-[656px] flex-col justify-between items-start flex-1">
        <div class="flex flex-col items-start flex-1 self-stretch">
            <h1 class="self-stretch text-black font-primary text-[60px] font-bold leading-[normal]"><span class="text-[#797979]">Agencia</span> de Diseño</h1>
            <h1 class="title">& Desarrollo</h1>
            <h1 class="title title-decorator">Creativo</h1>
        </div>
        <div class="body-description">
            <div class="description">
                <p>Our thing is creating cool experiences for startups and tech companies. We make sure users and business needs are simpatico.</p>
            </div>
        </div>
    </div>
</section>
<!-- <style>

    .container-section {
        display: flex;
padding: 24px 16px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
    }
    
    .body {
        display: flex;
height: 656px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
    }

    .body-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }

    .title {
        color: #000;
font-family: Bebas Neue Pro;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .title-decorator {
        color: #797979;
    }

    .body-description {
        display: flex;
justify-content: center;
align-items: flex-end;
gap: 8px;
flex: 1 0 0;
align-self: stretch;
    }

    .description {
        flex: 1 0 0;
        color: rgba(0, 0, 0, 0.80);
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
</style> -->
