<section class="flex py-[24px] px-[16px] justify-center items-center gap-[8px] self-stretch lg:hidden">
    <div class="flex h-[656px] flex-col justify-between items-start flex-1">
        <div class="flex flex-col items-start flex-1 self-stretch">
            <h1 class="self-stretch text-black font-primary text-[60px] font-bold leading-[normal]"><span class="text-[#797979]">Agencia</span> de Diseño</h1>
            <h1 class="self-stretch text-black font-primary text-[60px] font-bold leading-[normal]">& Desarrollo</h1>
            <h1 class="self-stretch text-[#797979] font-primary text-[60px] font-bold leading-[normal]">Creativo</h1>
        </div>
        <div class="flex justify-center items-end gap-[8px] flex-1 self-stretch">
            <div class="flex-1 text-black font-primary text-[28px] font-normal leading-[normal]">
                <p>Nos especializamos en crear experiencias innovadoras para pequeñas y grandes empresas.</p>
            </div>
        </div>
    </div>
</section>
<section class="hidden lg:flex h-[982px] px-[40px] pb-[60px] pt-0 flex-col justify-center items-center gap-[8px] self-stretch bg-white">
    <div class="flex h-[579px] flex-col justify-between items-center shrink-0 self-stretch">
        <div class="flex justify-between items-start self-stretch">
            <div class="flex flex-col items-start gap-[8px]">
                <h1 class="text-black font-primary text-[70px] not-italic font-bold leading-[66px] uppercase"><span class="text-[#797979]">AGENCIA DE</span> DISEÑO</h1>
                <h1 class="text-black font-primary text-[70px] not-italic font-bold leading-[66px] uppercase">& Desarrollo</h1>
                <h1 class="text-[#797979] font-primary text-[70px] not-italic font-bold leading-[66px] uppercase">Creativo</h1>
            </div>
            <div class="flex justify-center items-end gap-[8px] self-stretch">
                <p class="w-[375px] text-black font-primary text-[32px] not-italic font-normal leading-[normal]">Nos especializamos en crear experiencias innovadoras para pequeñas y grandes empresas.</p>
            </div>
        </div>
        <div class="flex h-[77px] items-start shrink-0 self-stretch rounded-t-[40px] border-x-[1px] border-t-[1px] border-[#c7c7c7]">
            <div class="flex justify-center items-center gap-[8px] flex-1 self-stretch border-r-[1px] border-[#c7c7c7]">
                <a href="/" class="text-black font-primary text-[24px] not-italic font-normal leading-[33.5px]">Branding</a>
            </div>
            <div class="flex justify-center items-center gap-[8px] flex-1 self-stretch border-r-[1px] border-[#c7c7c7]">
                <a href="/" class="text-black font-primary text-[24px] not-italic font-normal leading-[33.5px]">Diseño de sistios web</a>
            </div>
            <div class="flex justify-center items-center gap-[8px] flex-1 self-stretch border-r-[1px] border-[#c7c7c7]">
                <a href="/" class="text-black font-primary text-[24px] not-italic font-normal leading-[33.5px]">Event planer</a>
            </div>
            <div class="flex justify-center items-center gap-[8px] flex-1 self-stretch">
                <a href="/" class="text-black font-primary text-[24px] not-italic font-normal leading-[33.5px]">Desarrollo web</a>
            </div>
        </div>
    </div>
</section>