<div class=" h-[50vh] w-[95%] bg-gradient-to-b from-black  justify-center items-center to-blue-300 flex flex-col gap-y-[50px] rounded-[20px]">

<h1 class="font-primary font-bold text-4xl text-white">GOOGLE REVIEW</h1>
  <div class="flex flex-row">
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
  
  </div>
  <a class="bg-white rounded-full p-[10px]" href="">HACER UNA REVIEW</a>
</div>
<div class=" h-[10vh] w-[85%] border-t-2 border-b-slate-900 flex flex-row justify-center mt-[50px] ">
  <div class="mt-[20px] flex flex-row gap-[15px]">

    <div class="border border-black flex items-center rounded-full p-[5px] h-[30px] w-[30px] ">
      <svg width="20" height="20" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.42632 4.35193L10.1311 4.41916L10.1202 5.66911L2.41541 5.60188L5.92876 9.13267L5.01933 9.99977L0.000258396 4.95578L5.10659 0.0001489L6.00075 0.882985L2.42632 4.35193Z"  fill="#1C1B1F"/>
        </svg>
    </div>

      
    <div class="border border-black flex items-center rounded-full p-[5px] h-[30px] w-[30px]" >
      <svg width="20" height="20" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.70711 5.61687L0.0020531 5.64109L-0.00187536 4.39109L7.70318 4.36688L4.14817 0.878032L5.04724 0.000201753L10.1258 4.98427L5.07867 10.0002L4.1741 9.12799L7.70711 5.61687Z" fill="#1C1B1F"/>
        </svg>
    </div>  

    </div>
</div>

<div class=" container flex flex-row gap-[20px] w-[90%] h-[60vh] justify-start p-[20px] overflow-hidden overflow-y-hidden scroll-smooth overflow-scroll-touch ">

<div class="seccion flex flex-col gap-[35px] p-[20px] bg-gray-300 rounded-[10px] h-[60vh]">
 <div class="flex flex-row items-center">
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
    </svg>
    <p class="text-3xl ml-[20px]">5.0</p>
  </div>
  <div>
    <p>Unikorns Agency delivered collaterals and materials promptly, meeting all deadlines. Their responsiveness to the client's specific requirements was exceptional, and they were readily available for in-depth discussions, responding within an hour on most occasions.</p>
  </div>
  <div>
    <h1 class="font-primary font-bold">Colin Marsh</h1>
    <p>Head of Marketing Communications at Shopbox AI</p>
  </div>
 
  </div>



  
<div class=" seccion flex flex-col gap-[35px] p-[20px] bg-gray-300 rounded-[10px] h-[60vh]" >
  <div class="flex flex-row items-center">
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <p class="text-3xl ml-[20px]">5.0</p>
   </div>
   <div>
     <p>Unikorns Agency delivered collaterals and materials promptly, meeting all deadlines. Their responsiveness to the client's specific requirements was exceptional, and they were readily available for in-depth discussions, responding within an hour on most occasions.</p>
   </div>
   <div>
     <h1 class="font-primary font-bold">Colin Marsh</h1>
     <p>Head of Marketing Communications at Shopbox AI</p>
   </div>
  
   </div>



   
<div class="lg:seccion  flex flex-col gap-[35px] p-[20px] bg-gray-300 rounded-[10px] h-[60vh]">
  <div class="flex flex-row items-center">
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#E09E1E"/>
     </svg>
     <p class="text-3xl ml-[20px]">5.0</p>
   </div>
   <div>
     <p>Unikorns Agency delivered collaterals and materials promptly, meeting all deadlines. Their responsiveness to the client's specific requirements was exceptional, and they were readily available for in-depth discussions, responding within an hour on most occasions.</p>
   </div>
   <div>
     <h1 class="font-primary font-bold">Colin Marsh</h1>
     <p>Head of Marketing Communications at Shopbox AI</p>
   </div>
  
   </div>
  </div>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    (function(){
      function scrollH(e:any){
       e.preventDefault();
        e=window.event || e;
        let delta = Math.max(-1, Math.min(1,(e.wheelDelta || -e.detail)));
        const container = document.querySelector('.container');
        if(container){
          container.scrollLeft -= (delta*120);
       }
      }

      const container = document.querySelector('.container');
    if(container){
       container.addEventListener('mousewheel', scrollH, false);
        container.addEventListener('DOMMouseScroll', scrollH, false);
     }
    })();
  });

  </script>