<section class="flex py-[80px] px-[40px] flex-col items-center gap-[64px] self-stretch bg-white">
    <div class="flex p-[5px] flex-col justify-center items-center gap-[12px] self-stretch">
        <img src="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2FsampleProjectOne.png?alt=media&token=9f88071e-b9c6-42b5-b1c8-18381dfba9d2" alt="proyecto one" class="w-[173px] h-[124px] object-cover bg-no-repeat">
        <img src="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2FsampleProjectOne.png?alt=media&token=9f88071e-b9c6-42b5-b1c8-18381dfba9d2" alt="proyecto one" class="w-[173px] h-[124px] object-cover bg-no-repeat">
    </div>
    <div class="flex flex-col justify-center gap-[36px] self-stretch">
        <h2 class="self-stretch text-black text-center font-primary text-[32px] not-italic font-bold leading-[normal]">Nuestra creatividad no solo termina nuestros proyectos</h2>
        <div class="flex justify-center items-center gap-[8px]">
            <button class="text-black text-center text-[24px] not-italic font-normal leading-[normal] rounded-full border border-black py-[4px] px-[24px] font-primary hover:bg-black hover:text-white">Click Aqui</button>
        </div>
    </div>
    <div class="flex p-[5px] flex-col justify-center items-center gap-[12px] self-stretch">
        <img src="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2FsampleProjectOne.png?alt=media&token=9f88071e-b9c6-42b5-b1c8-18381dfba9d2" alt="proyecto one" class="w-[173px] h-[124px] object-cover bg-no-repeat">
        <img src="https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2FsampleProjectOne.png?alt=media&token=9f88071e-b9c6-42b5-b1c8-18381dfba9d2" alt="proyecto one" class="w-[173px] h-[124px] object-cover bg-no-repeat">
    </div>
</section>