<section class="flex pt-[32px] flex-col items-start bg-white lg:pt-0">
<div class="flex flex-col items-start lg:px-[40px] lg:flex-row lg:justify-center">
    <div class="flex py-0 px-[16px] items-start gap-[8px] lg:pt-[150px] lg:pr-[36px] lg:pl-0 lg:pb-0 lg:rounded-t-none lg:rounded-bl-[50px] lg:rounded-br-none lg:border-b lg:border-[#c7c7c7] lg:self-stretch">
        <h3 class="text-black font-primary text-[40px] not-italic font-bold leading-[normal] lg:text-[112px] lg:leading-[normal]">Servicios</h3>
    </div>
    <div class="flex pt-[70px] pb-[64px] flex-col justify-center items-center gap-[60px] rounded-bl-[50px] rounded-br-[50px] border-b border-[#C7C7C7] lg:py-[200px] lg:px-[32px] lg:gap-y-[80px] lg:gap-x-[64] lg:flex-1 lg:flex-row lg:flex-wrap lg:rounded-t-none lg:rounded-bl-none lg:rounded-br-[50px] lg:border-b lg:border-l">
        <div class="flex px-[16px] pb-[16px] flex-col items-start gap-[12px] border-b border-[#c7c7c7] lg:border-b-0">
            <h2 class="text-black font-primary text-[24px] not-italic font-bold leading-[normal] lg:text-[28px]">Branding</h2>
            <p class=" text-[#2B2A2A] font-primary text-[20px] italic font-normal leading-[normal] lg:flex lg:w-[387px]">Una identidad de marca atemporal y memorable que ayuda a las empresas a establecer una presencia fuerte y consistente en el mercado.</p>
        </div>
        <div class="flex px-[16px] pb-[16px] flex-col items-start gap-[12px] border-b border-[#c7c7c7] lg:border-b-0">
            <h2 class="text-black font-primary text-[24px] not-italic font-bold leading-[normal] lg:text-[28px]">Event Planner</h2>
            <p class=" text-[#2B2A2A] font-primary text-[20px] italic font-normal leading-[normal] lg:flex lg:w-[387px]">Una identidad de marca atemporal y memorable que ayuda a las empresas a establecer una presencia fuerte y consistente en el mercado.</p>
        </div>
        <div class="flex px-[16px] pb-[16px] flex-col items-start gap-[12px] border-b border-[#c7c7c7] lg:border-b-0">
            <h2 class="text-black font-primary text-[24px] not-italic font-bold leading-[normal] lg:text-[28px]">Diseño Web</h2>
            <p class=" text-[#2B2A2A] font-primary text-[20px] italic font-normal leading-[normal] lg:flex lg:w-[387px]">Una identidad de marca atemporal y memorable que ayuda a las empresas a establecer una presencia fuerte y consistente en el mercado.</p>
        </div>
        <div class="flex px-[16px] pb-[16px] flex-col items-start gap-[12px]">
            <h2 class="text-black font-primary text-[24px] not-italic font-bold leading-[normal] lg:text-[28px]">Desarrollo Web</h2>
            <p class=" text-[#2B2A2A] font-primary text-[20px] italic font-normal leading-[normal] lg:flex lg:w-[387px]">Una identidad de marca atemporal y memorable que ayuda a las empresas a establecer una presencia fuerte y consistente en el mercado.</p>
        </div>
    </div>
</div>
</section>