<section class="flex py-[24px] px-[16px] items-start gap-[8px] self-stretch bg-white">
    <div class="flex flex-col justify-center items-start gap-[100px] flex-1">
        <div class="flex flex-col justify-center items-start gap-[40px] self-stretch">
            <h2 class="text-black font-primary text-[40px] font-medium not-italic leading-[normal]">Testimonios</h2>
            <div class="flex flex-col items-start gap-[12px]">
                <div class="flex gap-[8px] items-end">
                    <div class="text-black font-primary text-[40px] not-italic font-bold leading-[34.5px]">12</div>
                    <div class="text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Reseñas verificadas</div>
                </div>
                <div class="flex gap-[8px] items-end">
                    <div class="text-black font-primary text-[40px] not-italic font-bold leading-[34.5px]">0.5</div>
                    <div class="text-black font-primary text-[16px] not-italic font-normal leading-[normal]">Puntuación media</div>
                </div>
            </div>
        </div>
        <div class="self-stretch text-black font-primary text-[20px] not-italic font-normal leading-[normal]">Un cliente satisfecho es el mejor indicador de éxito de la colaboración y enfoque de un proyecto.</div>
    </div>
</section>