---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="360 Virtual Solutions" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css">
    </head>
    <body
        class="flex py-[24px] px-0 flex-col justify-center items-center bg-white relative overflow-x-hidden"
    >
        <slot />
        <script
            type="module"
            src="https://unpkg.com/@splinetool/viewer@0.9.493/build/spline-viewer.js"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    </body>
</html>
<style is:global>
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-Air.otf") format("opentype");
        font-style: normal;
        font-weight: 100;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-AirItalic.otf") format("opentype");
        font-style: italic;
        font-weight: 100;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-Black.otf") format("opentype");
        font-style: normal;
        font-weight: 900;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-BlackItalic.otf") format("opentype");
        font-style: italic;
        font-weight: 900;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-Bold.otf") format("opentype");
        font-style: normal;
        font-weight: 700;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-BoldItalic.otf") format("opentype");
        font-style: italic;
        font-weight: 700;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-Light.otf") format("opentype");
        font-style: normal;
        font-weight: 250;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-LightItalic.otf") format("opentype");
        font-style: italic;
        font-weight: 250;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-Medium.otf") format("opentype");
        font-style: normal;
        font-weight: 500;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-MediumItalic.otf") format("opentype");
        font-style: italic;
        font-weight: 500;
    }

    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-Regular.otf") format("opentype");
        font-style: normal;
        font-weight: 400;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-RegularItalic.otf") format("opentype");
        font-style: italic;
        font-weight: 700;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-Thin.otf") format("opentype");
        font-style: normal;
        font-weight: 200;
    }
    @font-face {
        font-family: Aeonik;
        src: url("../assets/fonts/Aeonik-ThinItalic.otf") format("opentype");
        font-style: italic;
        font-weight: 200;
    }
</style>
